#wrapper{
    width: 980px;
    height: 600px;
    margin: 0 auto;
    background: linear-gradient(#ffffff, #e8e8e4 99%);

}

body {
    font-family: ariel; 
}

aside {
    float: right;
    width: 25%;
    height:30%;
    margin:70px;
    font-size: 10px;
    
}

section {
    width: 80%;
    height: 30%;
    margin-left: 10%;
    text-align: center;
    margin-top: 45%;
    font-size: 10px;
    padding: 4px;
    column-count: 3;
    column-gap: 60px;
    
}

h1 {
    text-align: center;
    margin: 10px;
    
}

#MainImage {
    float: left;
    margin: 70px;

}